div.tooltip {
  position: relative;
  display: inline-block;
}

div.tooltip span.tooltip-text {
  font-family: Helvetica;
  font-size: 0.75em;
  opacity: 0;
  transition: opacity 1s;
  top:100%;
  left:0%;
  width: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  padding: 0.2em;
  border-radius: 0.45em;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

div.tooltip:hover span.tooltip-text {
  opacity: 1;
}

.landingDescrip {
  background-color: black;
  color: white;
  border: 2.5px solid #1f7a1f;
  font-size: 2em;
  opacity: 0.8;
  max-width: 100%;
  position: relative;
  text-align: center;
  top: 60px;
  max-width: 600px;
  margin-left: 350px;
  padding: 10px;
}

.landingPage {
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: 1300px 900px;
  height: 900px;
  width: 1300px;
  border: 0;
  position: absolute;
}

.loginBtn {
  font-size: .85em;
  margin-left: 565px;
  margin-top: 75px;
  height: 55px;
  width: 165px;
  background-color: #3b5998;
  color: white;
  border-radius: 4px;
}

.logo {
  color: #1f7a1f;
  text-align: center;
  text-shadow: -7px 4px #777777;
  font-size: 8em;
  position: relative;
  margin-top: 50px;
}


.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  height: 22px;
  margin-bottom: 11px;
  position: relative;
  width: 230px;
  text-align: left;
}
.geosuggest__input {
  border: 2px solid transparent;
  box-shadow: 0 0 1px #2b462b;
  height: 100%;
  padding: .5em 1em;

  -webkit-transition: border 0.2s, box-shadow 0.2s;
          transition: border 0.2s, box-shadow 0.2s;
  width: 100%;
}
.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}
.geosuggest__suggests {
  background-color: #b3b3b3;
  font-family: Helvetica;
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-top-width: 0;
  border-bottom-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  width: 600px;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
          transition: max-height 0.2s, border 0.2s;
}
.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest-item {
  background-color: #e5e5e5;
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}

.geosuggest-item:hover,
.geosuggest-item:focus {
  background: white;
}

.geosuggest-item--active {
  background: #267dc0;
  color: #fff;

}

.geosuggest-item--active:hover,
.geosuggest-item--active:focus {
  background: white;
}
